.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

.u-section-1 .u-image-1 {
  width: 467px;
  height: 266px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 21px 0 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 194px;
  }
}