<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>

    {% block head %}{% endblock %}

</head>
{% block startbody %} {% endblock %}
<header class="u-clearfix u-header" id="sec-8713">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-headline u-text u-text-1">
            <a href="/">Магазин Цветов<br>
            </a>
        </h3>
        <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        <nav class="u-align-left u-font-size-14 u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link"
                   href="#">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                        <use xlink:href="#svg-622f"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="svg-622f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                         xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect
                            y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g></svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-4 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/" style="--radius: 4px; padding: 10px 0px;">Главная</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-4 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/#carousel_003a" style="--radius: 4px; padding: 10px 0px;">Контакты</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-4 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/info" style="--radius: 4px; padding: 10px 0px;">О нас</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-4 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                            href="/products" style="--radius: 4px; padding: 10px 0px;">Ассортимент</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Главная.html">Главная</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="/#carousel_003a">Контакты</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/info">О нас</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/products">Ассортимент</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>

{% block content %}{% endblock %}

<footer class="u-align-center-sm u-align-center-xs u-clearfix u-footer" id="sec-1ec7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-align-center u-image u-logo u-image-1" data-image-width="389" data-image-height="51">
            <img src="/pages/images/border.png" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-align-center u-social-icons u-spacing-23 u-social-icons-1">
            <a class="u-social-url" title="vk" target="_blank" href="https://vk.com/tsvetodom"><span
                    class="u-file-icon u-icon u-social-facebook u-social-icon u-text-palette-1-base u-icon-1"><img
                    src="/pages/images/25684-bd56bd71.png" alt=""></span>
            </a>
            <a class="u-social-url" title="instagram" target="_blank"
               href="https://www.instagram.com/_tsvetodom_/"><span
                    class="u-file-icon u-icon u-social-icon u-social-instagram u-text-palette-1-base u-icon-2"><img
                    src="/pages/images/717392-e6d92441.png" alt=""></span>
            </a>
            <a class="u-social-url" title="phone" target="_blank" href="tel:+7-931-364-92-33"><span
                    class="u-file-icon u-icon u-social-icon u-social-twitter u-text-palette-1-base u-icon-3"><img
                    src="/pages/images/631880-400e3223.png" alt=""></span>
            </a>
        </div>
    </div>
</footer>

</body>
</html>